<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Video call app</title>
    <script>
      const ROOM_ID = '<%= roomId %>';
      const PORT = '<%= port %>';
    </script>
  </head>
  <body>
    <%= roomId %>

    <div id="video-grid"></div>

    <!-- stop play button-->
    <button onclick="playStop()" class="stoplay">Stop</button>
    <!-- mute unmute button -->
    <button onclick="muteUnmute()" class="muteUnmute">Mute</button>

    <!-- +  chat -->
    <form>
      <input type="text" id="chat" name="chat" />
      <input type="submit" value="Submit" />
    </form>

    <div class="messages"></div>

    <!-- <script src="./script.js"></script> -->
    <!-- marche -->
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
