#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  background-color: #e2e0e0;
  overflow-y: scroll;
  /* overflow: hidden; */
}
